section{
    position: relative;
}

.home-icon{
    top: 30px;
    left: 40px;
    width: 40px;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    fill: white;
}   
.icon{
    width: 50px;
    height: 50px;
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100dvw;
    font-size: 17px;
    gap: 20px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}


#header-nav{
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
}

@keyframes blur {
    to{
        box-shadow:
            0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
            0px 0px 0px 1px hsla(0, 0%, 100%, 0.1);
        background: rgba(10, 10, 10, 0.3);
        backdrop-filter: blur(10px);
    }
}

@media(800px <= width <= 3000px){
    #header-nav ul{
        font-size: 20px;
    }
}

@media(200px <= width <= 500px){
    #header-nav ul{
        font-size: 15px;
    }
}