<section>
    <h1>Register</h1>
    <form (ngSubmit)="sendRegister()" [formGroup]="formRegister" class="register-auth-form">
        <label for="first-name">First Name</label>
        <input formControlName="FirstN" type="text" placeholder="First Name">
        <label for="last-name">Last Name</label>
        <input formControlName="LastN" type="text" placeholder="Last Name">
        <label for="email">Email</label>
        <input formControlName="email" type="email" placeholder="Email">
        <label for="password" >Password</label>
        <input formControlName="password" class="form-input" type="password" placeholder="Password">
        <a class="forget-password" href="" target="_blank" rel="noopener">¿Did you forget your password?</a>
        <div *ngIf="errorForm">
            Format invalid
        </div>
        <button [disabled]="formRegister.invalid" type="submit" class="bton-form-submit">Submit</button>
    </form>
</section>
