.item-list{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    max-width: 1000px;
    margin: 20px;
}

@media(800px <= width <= 3000px){
    .item-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(200px <= width <= 500px){
    .item-list{
        grid-template-columns: repeat(1, 1fr);
    }
}
