.item-list{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    height: 100vh;
    margin: 20px;
}