.item{
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(34, 33, 33, 0.19);
}

img{
    width: 100px;
    border-radius: 3px;
}

h3{
    font-size: 10px;
}

p{
    font-size: 9px;
}

.side-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.side-details-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-details-information{
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.side-details-information-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100px;
    height: 72px;
    overflow: auto;
    scrollbar-width: none;
    text-wrap: pretty;
}

.side-details-information-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 72px;
}

.specs{
    display: flex;
    width: 60px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-details-buttons{
    display: flex;
    gap: 20px;
}

.button-watch{
    width: 60px;
    height: 20px;
    font-size: 10px;
    border: none;
    background-color: midnightblue;
    border-radius: 4px;
    cursor: pointer;
}

.button-hide{
    width: 60px;
    height: 20px;
    font-size: 10px;
    border: none;
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
}

.icon_favorite{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 2px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}   

i{
    color: red;
    
    font-size: 30px;
}

article{
    position: relative;
}