<article class="item">
    <aside class="side-image">
        <img [src]="item.serie_image" alt="Item Image">
    </aside>
    <aside class="side-details">
        <div class="side-details-title">
            <h3>{{item.serie_title}}</h3>
        </div>
        <div class="side-details-information">
            <div class="side-details-information-left">
                <p>{{item.serie_description}}</p>
            </div>
            <div class="side-details-information-right">
                <aside class="specs">
                    <span>{{item.serie_genre}}</span>
                </aside>
            </div>
        </div>
        <div class="side-details-buttons">
            <button (click)="toggleWatch()" class="button-watch">Watch</button>
            <button (click)="toggleHide()" class="button-hide">Hide</button>
        </div>
    </aside>
    <div class="icon_favorite">
        <i class="uil uil-heart-alt"></i>
    </div>
</article>