section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 50;
    top: 0;
    height: 70px;
}

.movies-favorites{
    height: 800px;
    width: 1200px;
    margin-bottom: 20px;
}

.series-favorites{
    height: 800px;
    width: 1200px;
}

h2{
    margin-left: 10px;
}

.section-movies, .section-series{

    width: 1200px;
    height: 700px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    max-width: 1000px;
    margin: 20px;
}

.hidden{
    animation: fade-out .5s forwards;
}

@keyframes fade-out {
    to{
        display: none;
        opacity: 0;
    }
}