section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 50;
    top: 0;
    height: 70px;
}

.movies-favorites{
    height: 800px;
    width: 1200px;
    margin-bottom: 20px;
}

.series-favorites{
    height: 800px;
    width: 1200px;
}

h2{
    margin-left: 10px;
}